.header-text {
    font-size: 35px;
    text-align: center;
    padding: 100px 0 0 0;
    margin: 10;
    color:white;
    font-family: Protest Revolution;
    z-index: 3;
    position: relative;
}

.body-text {
    display: block;
    height: auto;
    width: 500px;
    padding: 40px;
    margin: 70px auto 100px auto ;
    color:black;
    background-color: rgb(221, 200, 173);
    line-height: 1.2em;
    z-index: 2;
    position: relative;
}

.command-box {
    background-color: rgb(109, 118, 126);
    opacity: 100%;
    height: 70px;
    width: 550px;
    margin: 70px;
    padding: 10px;
    line-height: 1.2em;
    top: 850px;
    position: fixed;
    z-index: 9;
}

.answer-box {
    background-color: rgb(164, 173, 180);
    opacity: 100%;
    height: 30px;
    width: 510px;
    margin: 15px 0 0 0;
    line-height: 1.2em;
    position: relative;
    z-index: 10;
}

.image {
    background-image: url("lookout-tower.jpg");    
    height: 100vh;
    background-size: cover;
    opacity: 20%;
    position: relative;
    z-index: 1;
}

.box {
    top: 0px;
    height: 200vh;
    width: 200vh;
    position: fixed;
}

html {
    background-color: black;
    z-index: 0;
}
